# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/cart/node_modules
/cart/.pnp
.pnp.js

# testing
/cart/coverage

# production
/cart/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
